@page "/"

<div class="content">
    <div class="row">
        <button type="button" class="btn btn-primary" @onclick="Toggle">@(Edit ? "Assign" : "Edit")</button>
    </div>

    <div class="row">
        @if (Edit)
        {
            <div class="col col-12">
                <br />
                <p>Fill each row with a name</p>
                <textarea class="form-control" style="height:60vh;" @bind=Input></textarea>
            </div>
        }
        else
        {
            @foreach (var key in GifterFromTo.Keys.OrderBy(p => Guid.NewGuid()).ToList())
            {
                <Toggle Front=@key Back=@GifterFromTo[key] />
            }
        }
    </div>
</div>

@code {
    protected bool Edit = true;

    protected string Input { get; set; } = "";

    protected Dictionary<string, string> GifterFromTo { get; set; }

    protected void Toggle()
    {
        if (Input.Trim() == string.Empty) return;
        Edit = !Edit;
        List<string> People = Input.Trim().Split("\n").OrderBy(p => Guid.NewGuid()).ToList();

        GifterFromTo = new();

        for (int i = 0; i < People.Count - 1; i++)
        {
            GifterFromTo[People[i]] = People[i + 1];
        }

        GifterFromTo[People.Last()] = People.First();

        StateHasChanged();
    }
}